

.card{   
border-radius:5rem ;
padding-left:  7rem;
padding: 3rem;
padding-right:  7rem;
box-shadow: 0 1.2rem 3rem 0.5rem rgba(95,149,210,0.4);
padding-right:5rem;
padding-left:6rem;
margin-left: 35rem;
}
.card-text{
    color:grey;
}

 body {
     background-color: #f9f9fa
 }

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

 .container {
     margin-top: 100px
 }

 .progress.progress-md {
     height: 8px
 }

 .template-demo .progress {
     margin-top: 1.5rem
 }

 .progress {
     border-radius: 3px;
     height: 8px
 }

 .pl-2,
 .px-2,
 .template-demo .circle-progress-block {
     padding-left: 0.5rem !important
 }

 .pr-2,
 .px-2,
 .template-demo .circle-progress-block {
     padding-right: 0.5rem !important
 }

 .mb-3,
 .template-demo .circle-progress-block,
 .my-3 {
     margin-bottom: 1rem !important
 }